@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;

}


.logo a{
    color: #fff;
    font-size: 60px;
    font-weight: bold; 
    text-decoration: none;
    padding-left: 40px;
    z-index: 2;
}
.menu-btn{
    position: fixed;
}
.nav .logo{
    z-index: 2;
}



.gallery{
  width: 100vw;
  display: flex;
  overflow-x: hidden;
}

.gallery img{
  width: 100vw;
  height: 105vh;
  object-fit: cover;
  object-position: center;
}


.left-arrow, .right-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 0;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
@media (max-width: 980px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .hamburger-menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 90px;
      background-color: #040c35;
      color: white;
      z-index: 2;
  }
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #000000, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.375s ease-in-out;
    z-index: 1;
  }
  #active:checked ~ .nav{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: fixed;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 30%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #000000, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .nav ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .nav ul li{
    margin: 15px 0;
  }
  .nav ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .nav ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.6s ease;
  }
  .nav ul li a:hover:after{
    transform: scaleY(1);
  }
  .nav ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  
  section{
  
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-size: 30px;
  }
  #Services h2{
    font-size: 3vw;
    margin-top: 13vh;
    margin-bottom: 2vh;
    color: royalblue;
  }
    .grid-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .column{
      display: flex;
      gap: 20px;
    }

      
  .large-frame iframe{
    width: 95vw;
    height: 53vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  .large-frame iframe:hover{
    transform: scale(1.02);
    cursor: pointer;
  }

  .small-frame iframe{
    width: 46vw;
    height: 25vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    margin: 0;
  }
  .small-frame iframe:hover{
    transform: scale(1.05);
    cursor: pointer;
  }




#Contact {
  height: 350px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  background-color:  rgb(35, 34, 34);
  color: white;
}

#Contact h6 {
  font-size: 20px;
  margin: 0; /* Ensure there's no top margin */
}

#contactDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#contactDetails ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px; /* Adjust the gap as needed */
}

#contactDetails ul p {
  font-size: 10px;
}

#contactDetails ul svg {
  width: 15px;

}

#contactDetails ul:hover {
  cursor: pointer;
}

#contactDetails ul li:hover {
  transform: scale(1.2);
  transform: translateY(-2px);
}

#contactDetails ul li {
  display: flex;
  transition: all 0.4s;
  align-items: center;
}

#ministryDetails h6 {
  margin: 0 0 10px 0; /* Ensure there's no top margin, add bottom margin */
}

#ministryDetails ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

#ministryDetails ul li {
  margin-bottom: 10px; /* Space between list items */
  font-size: 13px;
}

#ministryDetails a {
  display: block; /* Make the link take up the full width, stacking below the list items */
  font-size: 10px;
  color: white;
}

#map iframe {
  width: 300px;
  height: 200px;
}

#socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Change to space-between */
  padding-inline: 40vw;
  height: 7vh;
  background-color: black;
  color: white;
  font-weight: bold;
}

#socials svg{
  width: 20px;
  transition: all linear 0.3s;
}

#socials svg:hover{
  cursor: pointer;
  transform: translateY(-5px);
}

  }

  #Services{
    display: flex; /* Ensure the parent is a flex container */
    flex-direction: column;
    justify-content: flex-start;
  }
  


@media(min-width: 980px){

  #active{
      display: none;
  }
  
  .menu-btn{
      display: none;
  }
  
  .menu{
      list-style: none;
  }
  .nav{
      position: fixed;
      left: 0;
      top: 0;
      height: 75px;
      width: 100%;
      background: #4158d0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      z-index: 10;
  }
  .gallery-wrap svg{
    display: none;
  }
  .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
  
  }
  
  
  .nav .menu li{
      display: flex;
      margin: 0 15px;
  }
  
  .nav .menu li a{
      position: relative;
      color: #fff;
      font-size: 17px;
      font-weight: 500;
      padding: 3px 2px;
      text-decoration: none;
  }
  
  .nav .menu li a:before{
      content: '';
      position: absolute;
      height: 3px;
      width: 0%;
      background: white;
      bottom: 0;
      left: 0;
      transition: all 0.4s ease;
  }
  .nav .menu li a:hover:before{
      width: 100%;
  }
  .nav .menu li a:before{
      left: 50%;
      transform: translateX(-50%);
  }
  
  
  .nav .menu{
      display: flex;
  }
  section{
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-size: 70px;
      margin-top: 0;
      padding: 0;
  }
  

  #Services{
      display: flex; /* Ensure the parent is a flex container */
      flex-direction: column;
      justify-content: flex-start;
    }
    
    #Services h2{
      color: royalblue;
      font-size: 50px;
      margin-top: 11vh;
    }

    .videoContainer{
      display: flex;
      width: 100vw;
      height: 78vw;
    }

    .grid-container {
      display: flex;
      width: 98vw;
      max-width: 100%;
      gap: 25px; /* Reduced gap */
  }
  
  .column
  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
  
  .large-frame {
      grid-column: span 2;
      grid-row: span 2;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      margin-left: 20px;
  }
  
  .large-frame iframe{
    width: 65vw;
    height: 36.5vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  .large-frame iframe:hover{
    transform: scale(1.02);
    cursor: pointer;
  }
  
  .small-frame {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .small-frame iframe{
    width: 30vw;
    height: 17vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    margin: 0;
  }
  .small-frame iframe:hover{
    transform: scale(1.05);
    cursor: pointer;
  }






#Contact {
  height: 350px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  background-color:  rgb(35, 34, 34);
  color: white;
}

#Contact h6 {
  font-size: 30px;
  margin: 0; /* Ensure there's no top margin */
}

#contactDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#contactDetails ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px; /* Adjust the gap as needed */
}

#contactDetails ul p {
  font-size: 13px;
}

#contactDetails ul svg {
  width: 15px;

}

#contactDetails ul:hover {
  cursor: pointer;
}

#contactDetails ul li:hover {
  transform: scale(1.2);
  transform: translateY(-2px);
}

#contactDetails ul li {
  display: flex;
  transition: all 0.4s;
  align-items: center;
}

#ministryDetails h6 {
  margin: 0 0 10px 0; /* Ensure there's no top margin, add bottom margin */
}

#ministryDetails ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

#ministryDetails ul li {
  margin-bottom: 10px; /* Space between list items */
  font-size: 13px;
}

#ministryDetails a {
  display: block; /* Make the link take up the full width, stacking below the list items */
  font-size: 13px;
  color: white;
}

#map iframe {
  width: 300px;
  height: 200px;
}

#socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Change to space-between */
  padding-inline: 43vw;
  height: 7vh;
  background-color: black;
  color: white;
  font-weight: bold;
}

#socials svg{
  width: 20px;
  transition: all linear 0.3s;
}

#socials svg:hover{
  cursor: pointer;
  transform: translateY(-5px);
}

}

#Services a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: rgb(26, 26, 55);
  padding: 10px;
  padding-inline: 20px;
  border-radius: 20px;
  margin-top: 20px;
  transition: all linear 0.3s;
}

#Services a:hover{
  transform: translateY(-5px);
  background-color: rgb(44, 44, 104);
  cursor: pointer;
}
  
.videoContainer{
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s;
}

.showVC{
  opacity: 1;
  transform: scale(1);
}

.servicesHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1.2s ease-in-out; /* Add transition for smooth effect */
  color: royalblue;
  margin-bottom: 20px;
  opacity: 0.5;
}

.showSH {
  transform: translateX(0);
  opacity: .9;
}

/* mobile screen vertical orientation */
@media (max-width: 450px) {

  .column {
    flex-direction: column; 
    flex-wrap: nowrap; 
    gap: 10px; 
  }
  .small-frame iframe{
    width: 95vw;
    height: 53vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  #Services h2{
    font-size: 5vw;
    margin-top: 15vh;
  }
  #Services a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: rgb(26, 26, 55);
    padding: 10px;
    padding-inline: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all linear 0.3s;
  }

  #Contact{
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  #contactDetails {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  #socials{
    padding-inline: 30vw;
  }
  #ministryDetails a {
    display: block; /* Make the link take up the full width, stacking below the list items */
    font-size: 13px;
    color: white;
  }
}

/* mobile screen landscape orientation */
  @media(max-height: 450px) {

    #Services{
      display: flex; /* Ensure the parent is a flex container */
      flex-direction: column;
      justify-content: flex-start;
      height: 140vh;
     
    }
    
    .servicesHeader h2{
      color: royalblue;
      font-size: 3vw;
    }

    .videoContainer{
      width: 100vw;
      height: 60vw;
    }

    .grid-container {
      display: flex;
      width: 100vw;
      max-width: 100%;
      flex-direction: row;

  }
  
  .column
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
  
  .large-frame {
      margin-left: 20px;
  }
  
  .large-frame iframe{
    width: 65vw;
    height: 36.5vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  .large-frame iframe:hover{
    transform: scale(1.02);
    cursor: pointer;
  }
  
  .small-frame {
      color: white;

  }
  .small-frame iframe{
    width: 30vw;
    height: 17vw;
    padding: 15px;
    background: linear-gradient(135deg, #4158d0, #4c234a);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    margin: 0;
  }
  .small-frame iframe:hover{
    transform: scale(1.05);
    cursor: pointer;
  }


  }


#Announcements{
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.announcementsHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcementsHeader h2{
  font-size: 6vw;
  color: royalblue;
  opacity: 0.9;
}

.announcementsHeader a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: rgb(26, 26, 55);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  width: 230px;
  align-items: center;
}

.announcementsHeader a:hover {
  transform: translateY(-5px);
  background-color: rgb(44, 44, 104);
  cursor: pointer;
}
.eventListContainer {
  width: 98%;
  height: 55vh;
  margin-top: 10vh;
  display: flex;
  transition: transform 1s ease; /* Removed initial transform */
}

.event {
  width: 300px;
  height: 400px;
  margin: 2vw;
  border-radius: 20px;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease, opacity 0.5s ease;
}

.event:nth-child(1) {
  transition-delay: 0ms;
}

.event:nth-child(2) {
  transition-delay: 300ms;
}

.event:nth-child(3) {
  transition-delay: 600ms;
}

.event:nth-child(4) {
  transition-delay: 900ms;
}

.showEL .event {
  transform: translateX(0);
  opacity: 1;
}

#event1 {
  background: linear-gradient(135deg, #4158d0, #4c234a);
}

#event2 {
  background: linear-gradient(135deg, #2a3a8a, #874b84);
}

#event3 {
  background: linear-gradient(135deg, #7184e3, #4c234a);
}

#event4 {
  background: linear-gradient(135deg, #4158d0, #a87da5);
}


/*  
rgb(3, 3, 15);
*/